language: node_js
node_js: stable
install:
- npm i
script:
- npm run build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  local_dir: docs/.vuepress/dist
  fqdn: lindb.io
  committer_from_gh: true
  on:
    branch: dev