html, body {
  font-family: Avenir-Medium, PingFang SC, 'Microsoft YaHei';

  .repo-link {
    margin: 0 5px 0 15px !important;
    font-size: 0;

    &::before {
      display: inline-block;
      font-family: 'iconfont' !important;
      font-size: 25px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e885';
      line-height: 0.5rem;
      vertical-align: text-bottom;
    }

    svg {
      display: none !important;
    }
  }

  .sidebar {
    .repo-link {
      margin: 0 !important;

      &::before {
        content: '';
      }
    }
  }
}