
.navbar a[aria-label="GitHub"]{
    margin: 0 !important;
    font-size: 0;
    &::before {
        display: inline-block;
        font-family: 'iconfont' !important;
        font-size: 24px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\e885';
        line-height: 0.5rem;
        vertical-align: text-bottom;
    }

    &:hover{
        border-bottom: 0;
    }
  
    svg {
        display: none !important;
    }
}
.sidebar a[aria-label="GitHub"]{
    svg {
        display: none !important;
    }
  }

.home {
    padding: var(--navbar-height) 0 0;
    max-width: none;
}

.toggle-dark-button{
    margin-left: 0;
     .icon {
    width: 24px;
    height: 24px;
     }
}

.theme-container{
    min-height: calc(100vh - 50px);
}
.lin-footer{
    text-align: center;
    font-size: 14px;
    height: 48px;
    
    .text{
        padding-top: 16px;
    }
}