@import '_variables';

button {
    outline: none;
    background: none;
    border: 0;
    padding: inherit;
    cursor: pointer;
  }

img {
  border-style: none;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  outline: none;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
  border-bottom: 1px solid var(--c-border);
}

h3 {
  font-size: 20px;
}


.image-window {
  position: relative;
  background-color: #232429;
  border-radius: 0.25rem;
  
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 1rem;
    width: 12px;
    height: 12px;
    background: #f95c5b;
    border-radius: 100%;
    box-shadow: 0 0 0 1px #da3d42, 22px 0 #fabe3b, 22px 0 0 1px #ecb03e, 44px 0 #38cd46, 44px 0 0 1px #2eae32;
    z-index: 10;
  }

  img{
    padding-top: 2.2rem;
  }
}