@import '_variables';

button {
    outline: none;
    background: none;
    border: 0;
    padding: inherit;
    cursor: pointer;
  }

img {
  border-style: none;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  outline: none;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
  border-bottom: 1px solid var(--c-border);
}

h3 {
  font-size: 20px;
}
